.content {
    width: 80%;
    color: #bbb;
}
.sidebar {
    width: 20%;
    float: right;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    color: #bbb;
    font: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif
}
body {
    background: #222;
}
header {
    /* border-bottom: 1px solid #cacaca; */
    padding: 20px 20px 0;
}
.active-toplink {
    border: 2px solid black;
    border-radius: 5px;
}
.inactive-toplink {
    border-radius: 5px;
}
img {
    /* border: 2px solid black; */
    border-radius: 5px;
}
section {
    padding: 20px;
}
article {
    background-color: #1d1d1d;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin 0 10px;
    padding: 40px 40px 30px;
}
.grid {
    box-sizing: border-box;
}
footer {
    /* border-top: 1px solid #cacaca; */
    padding: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
}
nav li {
    float: left;
}
nav a {
    color: #111;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}
nav .active {
    background: #111;
    color: #fff;
}

h2 {
    font-size: 30;
}

h1 {
    font-size: 40;
}

h1, h2, h3, h4 {
    margin: 0 0 20px;
}
aside {
    padding-top: 30px;
    width: 20%;
    color: #bbb;
}
aside h4 {
    border-bottom: 1px solid #CC0000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-left: -10px;
    padding: 0 0 10px 30px;
    text-transform: uppercase;
}
.title {
    border-bottom: 1px solid #cacaca;
}
footer {
    color: #bbb;
}

a:link {color: #bbb; text-decoration: underline; }
a:active {color: #bbb; text-decoration: underline; }
a:visited {color: #ccc; text-decoration: underline; }

a.active-sidelink:link {
    font-size: 12;
    border-radius: 5px;
    color: #222;
    background-color: #bbb;
    text-decoration: none;
    box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.5);
}
a.active-sidelink:active {
    font-size: 12;
    border-radius: 5px;
    color: #222;
    background-color: #bbb;
    text-decoration: none;
    box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.5)
}
a.active-sidelink:visited {
    font-size: 12;
    border-radius: 5px;
    color: #222;
    background-color: #bbb;
    text-decoration: none;
    box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.5)
}
a.inactive-sidelink:link {
    font-size: 12;
    color: #bbb;
    text-decoration: none;
}
a.inactive-sidelink:inactive {
    font-size: 12;
    color: #bbb;
    text-decoration: none;
}
a.inactive-sidelink:visited {
    font-size: 12;
    color: #bbb;
    text-decoration: none;
}
a.inactive-sidelink:hover {
    text-decoration: none;
    border-radius: 5px;
    color: #bbb;
    background-color: #333;
    box-shadow: inset 0 0 3px 3px #404040;
    /* box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5); */
}
