<html>

{% include _charset.html %}

<head>
    <title>
        {{ page.title }}{% if site.title %} - {{ site.title }}{% endif %}
    </title>
    <link
        rel="stylesheet"
        href="{{ site.baseurl }}/assets/css/normalize.css"
    />
    <link
        rel="stylesheet"
        href="{{ site.baseurl }}/assets/css/main.css"
    />
</head>

<body>
<div class="wrapper">
    <header>
        <a href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/assets/images/loltris_logo.png">
        </a>
    </header>

    <aside class="sidebar">
        <nav>
            {% include _navigation.html %}
        </nav>
    </aside>

    <section>
        <div class="content">
            <article>
                <h1 class="title">
                    {{ page.title }}
                </h1>
                {{ content }}
            </article>
        </div>
    </section>

    {% include _copyright_notice.html %}

</div>

</body>

</html>
